body {
    font-family: 'Futura Std', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4
}

#title {
    font-family: 'Futura', sans-serif;
    font-size: 36px;
    color: #1e1e1e;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
    font-weight: normal;
    letter-spacing: 1px;
}

button {
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#gameContainer {
    max-width: 800px;
    margin: 20px auto; /* Center container */
    padding: 30px;
    text-align: center; /* Center content */
}

#board {
    margin: 0 auto; /* Center board */
    border: 2px solid #1e1e1e;
    box-sizing: border-box;
    margin-bottom: 35px;
}

#openingName, #status {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 22px;
    color: #1e1e1e;
}

#buttonContainer {
    text-align: center;
    display: inline-block;
    margin-top: 12px;
}

#practiceAgain, #newOpening {
    display: inline-block;
    /* display: flex; */
    margin: 5px;
    padding: 12px 18px;
    background-color: #4b7399;
    color: #f4f4f4;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-family: 'Futura Std', sans-serif;
    font-size: 1.2rem;
}

#practiceAgain:hover, #newOpening:hover {
    background-color: #385875;
}

#practiceAgain:focus, #newOpening:focus {
    outline: 2px solid #FFF;
    outline-offset: 2px;
}

#darkModeToggle {
    font-family: 'Futura', sans-serif;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

/* Ensure the dark mode toggle is visible in both modes */
#darkModeToggle {
    background-color: #f0f0f0;
    color: #333;
}

.dark-mode #darkModeToggle {
    background-color: #333;
    color: #f0f0f0;
}

/* Dark mode styles */
.dark-mode {
    background-color: #1e1e1e;
    color: #f4f4f4;
}

.dark-mode #board {
    margin: 0 auto;
    border: 2px solid #f0f0f0;
    box-sizing: border-box;
    margin-bottom: 35px;
}

.dark-mode #title,
.dark-mode button {
    color: #f4f4f4;
}

.dark-mode #practiceAgain,
.dark-mode #newOpening {
    background-color: #f0f0f0;
    color: #4b7399;
}

.dark-mode #openingName, 
.dark-mode #status {
    margin-top: 12px;
    margin-bottom: 0;
    color: #f4f4f4;
}

.dark-mode #practiceAgain:hover,
.dark-mode #newOpening:hover {
    background-color: #d4d4d4;
}

.dark-mode button {
    background-color: #333;
}